<div class="ui teal fixed inverted menu">
  <div class="ui container">
    <a routerLink="/" class="header teal item">
      {{ title }}
    </a>
    <a *ngIf="is_user_logged_in()" routerLink="/perfil" class="item">Perfil</a>
    <a *ngIf="!is_user_logged_in()" routerLink="/entrada" class="item"
      >Entrada</a
    >
    <a *ngIf="!is_user_logged_in()" routerLink="/registro" class="item"
      >Registro</a
    >
    <app-salida></app-salida>
  </div>
</div>
