<div
  *ngIf="articulo"
  class="ui main text container"
  [ngStyle]="{ 'margin-top': '60px', 'margin-bottom': '60px' }"
>
  <h2 class="ui header">{{ articulo.nombre | titlecase }}</h2>
  <div class="ui centered medium image">
    <img src="{{ articulo.imagen }}" />
  </div>

  <div class="ui divider"></div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="newspaper outline icon"></i>
    Introducción
  </h3>
  <div class="ui segment content">
    {{ articulo.introduccion }}
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="edit outline icon"></i>
    Ingredientes
  </h3>
  <div class="ui segment bulleted list">
    <div *ngFor="let i of articulo.ingredientes" class="item">
      {{ i }}
    </div>
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="utensils icon"></i>
    Preparación
  </h3>
  <div class="ui segment bulleted list">
    <div *ngFor="let i of articulo.preparacion" class="item">
      {{ i }}
    </div>
  </div>

  <h3 *ngIf="articulo.consejos" class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="utensil spoon icon"></i>
    Consejos
  </h3>
  <div *ngIf="articulo.consejos" class="ui segment bulleted list">
    <div *ngFor="let i of articulo.consejos" class="item">
      {{ i }}
    </div>
  </div>

  <h3 class="ui header">
    <i [ngStyle]="{ color: 'gray' }" class="globe icon"></i>
    Referencias
  </h3>
  <div class="content segment">
    <a href="{{ articulo.fuente }}">Inspirado en este artículo</a>
  </div>

  <div class="ui divider"></div>
</div>

<div class="ui main text container" *ngIf="!articulo">
  <div class="ui active inverted dimmer">
    <div
      class="ui massive text loader"
      [ngStyle]="{ 'margin-top': '200px', 'margin-bottom': '60px' }"
    >
      Loading articulo... please be patient
    </div>
  </div>
</div>
