<div
  class="ui middle aligned center aligned grid"
  [ngStyle]="{ 'margin-top': '10%', 'margin-bottom': 'justify' }"
>
  <div class="message">
    <div class="ui message">
      <p>Recetario Angular se encuentra en la versión 1.0.0 &copy; 2022</p>
      <a routerLink="/">Página Principal</a>
    </div>
  </div>
</div>
