<div
  class="ui centered container link cards"
  *ngIf="recetas && recetas.length > 0"
  [ngStyle]="{ 'margin-top': '60px' }"
>
  <div *ngFor="let i of recetas" class="card">
    <a routerLink="/articulo/{{ i.id }}">
      <div class="ui image">
        <img src="{{ i.imagen }}" />
      </div>
      <div class="content">
        <h2 class="ui header">{{ i.nombre | titlecase }}</h2>
        <div class="description" *ngIf="i.introduccion.length > 400">
          {{ i.introduccion | slice : 0 : 400 }}...
        </div>
        <div class="description" *ngIf="i.introduccion.length <= 400">
          {{ i.introduccion }}
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Pagination buttons -->
<div *ngIf="recetas" class="ui middle aligned stackable grid container">
  <div
    class="row"
    [ngStyle]="{ 'margin-top': '20px', 'margin-bottom': '60px' }"
  >
    <div class="eight wide column">
      <a
        *ngIf="docZero && firstDoc && docZero.id !== firstDoc.id"
        class="ui fluid large blue button"
        (click)="get_previous_recetas()"
      >
        Página anterior
      </a>
    </div>
    <div class="eight wide column">
      <a
        *ngIf="recetas && nextPageExists"
        class="ui fluid large blue button"
        (click)="get_next_recetas()"
      >
        Página siguiente
      </a>
    </div>
  </div>
</div>

<div class="ui main text container" *ngIf="!recetas || recetas.length === 0">
  <div class="ui active inverted dimmer">
    <div
      class="ui massive text loader"
      [ngStyle]="{ 'margin-top': '200px', 'margin-bottom': '60px' }"
    >
      Loading recetas... please be patient
    </div>
  </div>
</div>
